<div class="max-w-xl mx-auto">
    <!-- Trip List -->
    <div class="px-2">
        <app-header title="Trips" description="Check your schedule and history." />
    </div>

    <!-- List -->
    <div class="sm:flex flex-row gap-4 justify-center flex-wrap">
        @for (item of this.list.items(); track $index) {
        <div (click)="onViewTrip(item)" class="border border-gray-300 rounded p-4 mb-4 flex flex-col gap-2 sm:min-w-xl">
            <div class="flex justify-between items-center">
                <p class="text-sm font-semibold">{{ item.interestList.destination.name}}</p>
                <app-status-chip [status]="item.status" />
            </div>
            <div class="flex flex-row justify-between items-start gap-4">
                <div class="flex flex-col items-start">
                    <p class="text-xs uppercase">Departure</p>
                    <p class="text-sm ">{{ item.interestList.departureTime }}</p>
                </div>

                <div class="flex flex-col items-end">
                    <p class="text-xs uppercase">Return Departure</p>
                    <p class="text-sm">{{ item.interestList.returnDepartureTime }}</p>
                </div>
            </div>
            <div class="flex flex-row justify-between items-start gap-4">
                <div class="flex flex-col items-start">
                    <p class="text-xs uppercase">Arrival</p>
                    <p class="text-sm ">{{ item.interestList.arrivalTime }}</p>
                </div>

                <div class="flex flex-col items-end">
                    <p class="text-xs uppercase">Return Arrival</p>
                    <p class="text-sm">{{ item.interestList.returnArrivalTime }}</p>
                </div>
            </div>

            <div class="flex flex-col items-start">
                <p class="text-xs uppercase font-">Vehicle</p>
                <p class="text-sm">{{ item.vehicle ? item.vehicle.plate : 'To be assigned' }}</p>
            </div>
        </div>
        }
    </div>

    <div class="px-2 sm:px-16">
        <app-pagination [page]="list.page()" [totalPages]="list.totalPages()" [pageSize]="list.pageSize()"
            (pageChange)="list.onPageChange($event)" (pageSizeChange)="list.onPageSizeChange($event)" />
    </div>
</div>
