<div class="flex flex-row items-baseline justify-between">
    <app-header title="Trip" description="View details about the trip with ID {{ trip()?.id }}...">
    </app-header>
    <app-back-button />
</div>

<div>
    <p class="text-sm text-gray-600 mb-6">
        Total students: {{ list.items()?.length }}
    </p>
</div>


<!-- List -->
<app-data-table [trackBy]="studentTrackBy" [columns]="columns" [data]="list.items()" [sortBy]="list.sortBy()"
    [sortDirection]="list.sortDirection()" (sortChange)="list.onSort($event)">

</app-data-table>

<app-pagination [page]="list.page()" [totalPages]="list.totalPages()" [pageSize]="list.pageSize()"
    (pageChange)="list.onPageChange($event)" (pageSizeChange)="list.onPageSizeChange($event)" />

<app-confirm-dialog [open]="confirmDialog.state().open" [title]="confirmDialog.state().title"
    [message]="confirmDialog.state().message" [confirmLabel]="confirmDialog.state().confirmLabel"
    [variant]="confirmDialog.state().variant" (confirm)="confirmDialog.confirm()" (cancel)="confirmDialog.cancel()" />