<div class="px-4 sm:px-16">
    <app-header title="My Schedule" description="Check your schedule and history." />
</div>

<div class="flex justify-between sm:justify-start sm:px-16 gap-8 mb-4 sm:mb-12">
    <button class="px-4 py-2 rounded w-48"
        [ngClass]="window() === 'Bookings' ? 'bg-blue-500 text-white' : 'bg-gray-200 text-gray-700'"
        (click)="window.set('Bookings')">Bookings</button>

    <button class="px-4 py-2 rounded w-48"
        [ngClass]="window() === 'Trips' ? 'bg-blue-500 text-white' : 'bg-gray-200 text-gray-700'"
        (click)="window.set('Trips')">Trips</button>
</div>


@if (window() === 'Bookings') {

<div class="sm:flex flex-row gap-4 justify-center flex-wrap">
    @for (item of this.bokingList.items(); track $index) {
    <div class="border border-gray-300 rounded p-4 mb-4 flex flex-col gap-2 sm:min-w-xl">
        <div class="flex justify-between items-center">
            <p>{{ item.destination.name}}</p>
            <p class="bg-green-100 text-green-800 px-2 py-1 rounded text-xs">{{item.bookingStatus | enum}}</p>
        </div>
        <div class="">
            <p class="">{{item.tripType | enum}}</p>
        </div>
        <div class="">
            <p>Departure: {{item.interestList.departureTime}}</p>
            <p>Arrival: {{item.interestList.arrivalTime}}</p>
            <p>Return: {{item.interestList.returnDepartureTime}}</p>
        </div>
        <div>
            <p>Boarding at: {{item.boardingLocation.local}}</p>
        </div>
    </div>
    }
</div>
<div class="px-2 sm:px-16">
    <app-pagination [page]="bokingList.page()" [totalPages]="bokingList.totalPages()" [pageSize]="bokingList.pageSize()"
        (pageChange)="bokingList.onPageChange($event)" (pageSizeChange)="bokingList.onPageSizeChange($event)" />
</div>

} @else {

<div class="sm:flex flex-row gap-4 justify-center flex-wrap">
    @for (item of this.tripList.items(); track $index) {
    <div class="border border-gray-300 rounded p-4 mb-4 flex flex-col gap-2 sm:min-w-xl">
        <div class="flex justify-between items-center">
            <p>{{ item.interestList.destination.name }}</p>
            <p class="bg-blue-100 text-blue-800 px-2 py-1 rounded text-xs">{{item.status| enum}}</p>
        </div>
        <div class="">
            <p>Departure: {{item.interestList.departureTime}}</p>
            <p>Arrival: {{item.interestList.arrivalTime}}</p>
            <p>Return: {{item.interestList.returnDepartureTime}}</p>
        </div>
        <div>
            <p>Conductor: {{ item.conductor ? item.conductor.user.firstName : 'To be assigned' }}</p>
            <p>Vehicle: {{ item.vehicle ? item.vehicle.plate : 'To be assigned' }}</p>
        </div>
    </div>
    }
</div>

<div class="px-2 sm:px-16">
    <app-pagination [page]="tripList.page()" [totalPages]="tripList.totalPages()" [pageSize]="tripList.pageSize()"
        (pageChange)="tripList.onPageChange($event)" (pageSizeChange)="tripList.onPageSizeChange($event)" />
</div>


}